# Node modules
node_modules/
ootd-backend/node_modules/

# Environment variables (SECRET)
.env
*.env

# Ignore prompt folder
prompt/

# Build output
dist/
ootd-backend/dist/

## Ignore notes folder
notes/